<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <center><h2>Allstar Link Config</h2></center>
    
    Welcome to the Allstar configuration page.<p>    
    
   

AllStar is a network of publicly-accessible Amateur Radio repeaters and remote base stations accessible to each other via Voice over Internet Protocol. AllStar runs on a dedicated computer (including the Rasperry Pi) that you host at your home, radio site or computer center. It is based on the open source Asterisk PBX. Coupled with the app_rpt module it makes a powerful system capable of controlling one or more radios. It provides linking of these repeater and remote base "nodes" to other systems of similar construction anywhere in the world via VoIP.

AllStar's primary use is as a dedicate computer node wired to your repeater or radio. Connections from Echolink, other VoIP clients and telephone calls are suported. However, AllStar may not be what you expect if you are looking something to use on your computer for chatting without a radio. 
    
<P>
    


</div>
</body>
</html>