<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<title> Allstar Node Controller Page</title>


</head>
<body>
<div layout:fragment="content" th:remove="tag">
<P>
<center><h2>Node Controller</h2></center><p>

TODO: dropdown list of active nodes for selecting nodes to connect to using JSON calls: 
<p th:text="${json}"> </p>

&nbsp;&nbsp; <P>
&nbsp;&nbsp; <P>

<strong>Connected Nodes</strong><br>
<table class="table1">
<th> Node </th><th> Call</th> <th> Node Info</th> <th> Freq </th> <th> Location </th>

<tr>
<td> 27516</td>
<td> KD3SU</td>
<td> Linked to IRLP 0051</td>
<td> None</td>
<td> Boonsboro, MD USA	</td>
</tr>

<tr>
<td>43793 </td>
<td> KD3SU</td>
<td> Echolink KD3SU-L</td>
<td> None</td>
<td> Boonsboro, MD USA	</td>
</tr>

<tr>
<td> 27313</td>
<td> KD3SU</td>
<td> </td>
<td> 147.440 </td>
<td> Boonsboro, MD USA	</td>
</tr>

<tr>
<td> 43794</td>
<td> KD3SU</td>
<td> </td>
<td> </td>
<td> Boonsboro, MD USA	</td>
</tr>

</table>


<!-- http://stats.allstarlink.org/jsondata.cgi -->


&nbsp;&nbsp; <P>
<input class= "button1"  type="submit" value="Restart Asterisk"> <p>
&nbsp;&nbsp; <P>


<table class="table1">
<th> Connect or Disconnect Allstar Nodes</th>

<tr><td><input class= "button1"  type="submit" value="Disconnect specified link"></td>  <td> <input type="text" name="" value=""></td></tr>
<tr><td> <input class= "button1"  type="submit" value="Connect specified link -- monitor only"></td>  <td> <input type="text" name="" value=""></td></tr>
<tr><td> <input class= "button1"  type="submit" value="Connect specified link -- tranceive"></td>  <td> <input type="text" name="" value=""></td></tr>
</table> 
&nbsp;&nbsp; <P>
<input class= "button1"  type="submit" value=" Force ID "> <p>
&nbsp;&nbsp; <P>
<input class= "button1"  type="submit" value="Give Time of Day"> <p>
&nbsp;&nbsp; <P>
<input class= "button1"  type="submit" value="Give software Version"> <p>
&nbsp;&nbsp; <P>
<input class= "button1"  type="submit" value="Give GPS location info"> <p>
&nbsp;&nbsp; <P>
<input class= "button1"  type="submit" value="Last (dtmf) user"> <p>
&nbsp;&nbsp; <P>

<input class= "button1"  type="submit" value="Disconnect all links"> <p>
&nbsp;&nbsp; <P>


</div>
</body>

</html>
