<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<title> IAX Config</title>

</head>
<body>
<div layout:fragment="content" th:remove="tag">
<P>
<center><h2> Allstar IAX Settings</h2></center><p>

<strong>IAX Settings</strong><br>

<table class="table1">
<th> Mandatory Settings</th>

<form action="#" th:action="@{/iax}" th:object="${iax}" method="post">
<tr><td> Callsign</td> <td> <input type="text" name="" value=""th:field="*{call}" ></td></tr>
<tr><td> Allstar Node Number</td> <td> <input type="text" name="" value="" th:field="*{node}" ></td></tr>
<tr><td> bind port</td> <td> <input type="text" name="" value=""th:field="*{bindport}" ></td></tr>
<tr><td> Allstar Password</td> <td> <input type="text" name="" value="" th:field="*{pwd}" ></td></tr>

</table>
<p>

 <input class= "button1" type="submit" id="save" value="Generate iax.conf file"><P>
 </form>

 <p><a href="/" th:href="@{/}">Back to home page</a></p>

</div>
</body>

</html>
