<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Simple</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <center><h2>Allstar Simple USB Config</h2></center>


 <form action="#" th:action="@{/simpleusb}" th:object="${simpleusb}" method="post">
 
 <table class="table1">

<tr><td>Node Number</td><td> <input type="text" name="node" th:field="*{astnode}" value=""></td> </tr><br>

<tr><td><strong>carrierfrom </strong></td><td> <br>
 <select id="carrierfrom" th:field="*{carrierfrom}" > 
   <option value="no" >no</option>
   <option value="usb" >usb</option>
   <option value="usbinvert" >usbinvert</option>
   <option value="hub" ></option>   
 </select> </td></tr>

<tr><td><strong>ctcssfrom </strong></td><td> <br>
 <select id="ctcssfrom" th:field="*{ctcssfrom}" >
   <option value="no" >no</option>
   <option value="usb" >usb</option>
   <option value="usbinvert" >usbinvert</option>  
 </select> </td></tr>
</table> 
     <input class= "button1" type="submit" id="save" value="Generate simpleUSB.conf file"><P>
 </form>
</div>
</body>
</html>