<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<title> Allstar Node Status</title>

</head>
<body>
<div layout:fragment="content" th:remove="tag">
<P>
<center><h2>User Settings</h2></center><p>

<P>
We could add users  here and they could have accress to certain things like status and connecting nodes. Good for repeaters and clubs<br> 
Some users could have "manager role" and  would have access to complete control over settings. 

</div>
</body>

</html>
